.page {
  max-width: 1100px;
  margin: 0 auto;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 454px 148px 450px;
  justify-content: center;
  align-items: center;
  padding: 92px 0 92px;
}

.header-text {
  font-size: 18px;
}

.menu-list {
  display: flex;
  column-gap: 30px;
  margin-left: 26px;
  letter-spacing: 0.18px;
  list-style-type: circle;
}

.menu-list .menu-item:first-child {
  list-style-type: none;
}

.link {
  display: block;
  color: #000;
  transition: opacity 0.5s;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.link:hover {
  opacity: .7;
}

.logo-link {
  border: none;
}

.contacts-text {
  display: inline;
  text-decoration: none;
}

.menu-item .link_active {
  border: none;
}

.menu-item .link_active:hover {
  opacity: 1;
  cursor: default;
}

.logo {
  width: 100%;
}

.contacts {
  max-width: 237px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}

.align-left {
  justify-self: end;
  margin-right: 27px;
}

.intro {
  position: relative;
  /* min-height: 757px; */
  background-image: url('../images/lotus-flower.jpg');
}

.intro {
  padding: 165px 50px 51px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.title {
  z-index: 1;
}

.accent-text {
  display: block;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 30px;
  line-height: 100px;
}

.text-left {
  line-height: 115px;
}

.text-center {
  text-align: center;
  margin: 20px 0;
  
}

.text-right {
  text-align: right;
  line-height: 100px;
}

.letter-space-wide {
  letter-spacing: 60px;
  text-align: center;
}

.letter-space-none {
  letter-spacing: 0;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.subtile__segment {
  letter-spacing: normal;
}

.intro__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 1;
  margin: 135px auto 0;
  column-gap: 82px;
  align-items: center;
}

.intro__action-button {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  white-space: nowrap;
  color: #fff;
  transition: opacity 0.5s;
}

.button {
  cursor: pointer;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: .7;
}