.page {
  max-width: 1100px;
  margin: 0 auto;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: center;
  align-items: center;
  padding: 92px 0 92px;
}

.main-text {
  font-size: 18px;
}

.menu-list {
  display: flex;
  column-gap: 30px;
  margin-left: 26px;
  letter-spacing: 0.18px;
  list-style-type: circle;
}

.menu-list__type_footer {
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

.menu-list .menu-item:first-child {
  list-style-type: none;
}

.link {
  display: block;
  color: #000;
  transition: opacity 0.5s;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.link:hover {
  opacity: .7;
}

.logo-link {
  border: none;
}

.contacts-text {
  display: inline;
  text-decoration: none;
}

.menu-item .link_active {
  border: none;
}

.menu-item .link_active:hover {
  opacity: 1;
  cursor: default;
}

.logo {
  width: 100%;
}

.contacts {
  max-width: 237px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.18px;
}

.align-left {
  justify-self: end;
  margin-right: 27px;
}

.intro {
  position: relative;
  background-image: url('../images/lotus-flower.jpg');
  background-position: center;
  background-size: cover;
}

.intro {
  padding: 165px 50px 51px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.title {
  z-index: 1;
}

.title-text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.accent-text {
  display: block;
  font-size: 100px;
  color: #fff;
  letter-spacing: 30px;
  line-height: 100px;
}

.text-left {
  line-height: 115px;
}

.text-center {
  text-align: center;
  margin: 20px 0;
  
}

.text-right {
  text-align: right;
  line-height: 100px;
}

.letter-spacing-wide {
  letter-spacing: 60px;
  text-align: center;
}

.letter-spacing-none {
  letter-spacing: 0;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.subtile__segment {
  letter-spacing: normal;
}

.intro__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 1;
  margin: 135px auto 0;
  column-gap: 82px;
  align-items: center;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  white-space: nowrap;
  color: #fff;
  transition: opacity 0.5s;
}

.button {
  cursor: pointer;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: .7;
}

/* LOTS SECTION */

.lots {
  padding: 181px 24px 0;
}

.lots__card {
  display: flex;
  flex-direction: column;
}

.lots__title {
  margin: 0 0 27px 40px;
}

.lots__card-text {
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.alignment-end {
  align-self: flex-end;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  width: 100%;
}

.lots__list-item {
  flex-grow: 1;
  /* width: calc( 100% / 3 - 50px ); */
  flex-basis: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  position: relative;
}

.background-picture {
  background-size: cover;
  background-position: center;
}

.lots__list-item_bg_director {
  background-image: url(../images/card-background_1.jpg);
}

.lots__list-item_bg_book {
  background-image: url(../images/card-background_2.jpg);
}

.lots__list-item_bg_picture {
  background-image: url(../images/card-background_3.jpg);
}

.lots__link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.lots__link:hover .overlay {
  opacity: 0.75;
}

.lots__card {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__card-title {
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  z-index: 1;
}

.lots__look-more-link {
  margin: 30px 0 0 40px;
  font-size: 20px;
  display: inline-block;
}

.about {
  padding: 183px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;

  column-gap: 25px;
  grid-template-areas: 
  "logo title"
  ". text";
}

.logo-container {
  border-radius: 50%;
  background-color: #000;
  width: 240px;
  height: 240px;
  grid-area: logo;
  justify-self: center;
  display: flex;
}

.about__logo {
  width: 148px;
  margin: auto;
}

.about__text-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about__title {
  align-self: center;
  grid-area: title;
}

.about__paragraph {
  font-size: 20px;
  line-height: 24px;
  align-self: center;
}

.about__text-container .about__paragraph:first-child {
  margin-top: 3px;
}

.footer {
  padding: 180px 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__social-icons-list {
  list-style-type: none;
  display: flex;
  gap: 0 48px;
  justify-self: end;
}

.footer__link {
  border: none;
}